/* Qien kleur #9C4AF0 basis

*/)


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
th, td {
  padding: 15px;
  text-align: left;
}

td{
    background-color: #e1c7fa;
}



html{
    background-color: #fff;
    color:#8b8b8b;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/talent.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/talent.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin-top: 0;
    margin bottom: 20px;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-vergeten{
 
}

  
.input {

    width: 30px;
    height: auto;
    
    border: 15px solid;
    border-color: #821bec;
    margin-bottom: 30px;
}

.sidebar {
    border: 5px solid;
}

.side1 {
    float: left;
}

.side2 {
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

#th__werknemer {
    background-color: #9C4AF0;
    border: 1px solid;
    color: #fff;
}



.tr__selectblad {
    
}

#invulveldwerknemers {
    padding: 0.5%;
}

#titelWN {
    margin-left: 5%;
}

